
    <div style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ14wa8AULYI8c7L-7n3OmmLHq9c5W3HpVgQw&usqp=CAU'); align-items: center;
        min-height: 42em;
        children: [object Object],false,false,[object Object];
        background-size: cover;
        background-position: center;">
    </div>
    <content>
        <section style="text-align:center; background: #0F102F; padding: 6rem;">
            <p style="font-size:1.75rem; line-height: 200%;">Compatible with Dungeons & Dragons® 5e, GURPS® and
                best of all, our very own Sandragon
            </p>
            <p style="font-size:1.75rem; line-height: 200%;">
            Sandragon is made for players by players.
            </p>
            <p style="font-size:1.75rem; line-height: 200%;">
             Gamers want action, they want intrigue, and maybe some bawdy innuendo 
             now and then. What we don’t want is time wasted looking up rules and 
             trouble-shooting software. Sandragon is built to maximize your playtime and minimize bog-downs. With 30 years of playing ttrpgs (table-top role playing games), we’ve learned about the pitfalls of gaming and how to avoid them through experience.
            </p>
            <a href="">Learn More</a>
        </section>
        <section style="text-align:center; background:transparent; font-size:1.75rem; padding:4rem;  ">
            <p style="font-size:1.75rem; margin: 1rem 0px; line-height: 200%;">
            Easy and intuitive tools.
            Everything you need to bring your game to life will be obvious and accessible. You don’t want to look up a tutorial wiki article any time you want to use a feature of our platform, and you won’t have to. No esoteric controls, no hunting for commands. A ttrpg should be as easy to use as a pencil, paper and dice. Sandragon is committed to that ideal.
            Conversation is at the heart of the ttrpg experience. World class group forums and private messaging will ensure communications between GMs and players are easy, apparent and effective. If you have a rules-lawyer in your group (and we know you do), satisfy them fast with the in-game wiki. It will help keep that min-maxer in your group in-check too.
            </p>
        </section>
    </content>
